
@import '../@theme/theme.scss';

.menu-title {
    font-weight: bold;
    font-size: 1.6rem !important;
}

.menu-close-button {
    padding: unset !important;
    min-width: 2rem !important;
}

.menu {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    z-index: 900;
    background-color: $primary;
}
