
@import '../@shared/theme.scss';

$fontSize: 1.7rem;
$iconSize: $fontSize * 1.3;
$headerHeight: 3rem;

.header-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $headerHeight;
    // display: flex;
        // flex: 1 1 auto;
    // flex-direction: column;

    // flex-direction: column;
    @extend .mat-elevation-z6;
}

.header-toolbar-placeholder {
    height: $headerHeight;
}

.header-title {
    font-weight: bold;
    font-size: $fontSize !important;
    color: $color-accent;
}

.header-menu-button {
    padding: unset !important;
    min-width: $iconSize !important;
    @extend .hover-scale;
    @extend .hover-scale-center;
}

.header-menu-icon {
    height: $iconSize !important;
    width: $iconSize !important;
    font-size: $iconSize !important;
}

