
.header-title {
    font-weight: bold;
    font-size: 1.6rem !important;
}

.header-menu-button {
    padding: unset !important;
    min-width: 2rem !important;
}

// .mat-icon {
//     width: 100px;
//     height: 100px;
//     font-size: 32px;
//   }