
// Import library functions for theme creation.
@import '~@angular/material/theming';

// Include non-theme styles for core.
@include mat-core();

// Define your application's custom theme.
$primary: mat-palette($mat-grey, 800);//$mat-indigo);
$accent:  mat-palette($mat-amber, 100);
$warn:  mat-palette($mat-red);

// construct the theme from the positional args
// (1) primary
// (2) accent
// (N) ...
$theme: mat-light-theme($primary, $accent, $warn);

// Include theme styles for Angular Material components.
@include angular-material-theme($theme);

// make these colors available to regular scss
$color-primary: mat-color($primary);
$color-accent: mat-color($accent);
$color-warn: mat-color($warn);

$color-horn: #313959;
$color-bassoon: #84ba97;
$color-flute: #e1e28e;
$color-oboe: #d88334;
$color-clarinet: #d8593c;
